# Compiled output
/dist/
/build/

# Dependencies
/node_modules/
/jspm_packages/

# .env
.env*

# Tests
/coverage/
.nyc_output
*.lcov

# Cache
/.cache/
.eslintcache
*.tsbuildinfo

# Logs
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and editors
.idea
.project
.classpath
/.c9/
*.launch
/.settings/
*.sublime-workspace

# OS
.DS_Store

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
